<uni-card>
  <uni-card-header>
    <uni-card-title>title</uni-card-title>
    <uni-card-subtitle>subtitle</uni-card-subtitle>
  </uni-card-header>

  body

  <uni-card-footer>
    footer
  </uni-card-footer>
</uni-card>

<div>
  <button uni-button
          color="primary">
    Primary
  </button>

  <button uni-button
          color="secondary">
    Secondary
  </button>

  <button uni-button
          color="success">
    Success
  </button>

  <button uni-button
          color="warning">
    Warning
  </button>

  <button uni-button
          color="danger">
    Danger
  </button>
</div>

<div>
  <button uni-outline-button
          color="primary">
    Primary
  </button>

  <button uni-outline-button
          color="secondary">
    Secondary
  </button>

  <button uni-outline-button
          color="success">
    Success
  </button>

  <button uni-outline-button
          color="warning">
    Warning
  </button>

  <button uni-outline-button
          color="danger">
    Danger
  </button>
</div>

<div>
  <button uni-icon-button
          color="primary">
    <uni-icon icon="mdi-home"></uni-icon>
  </button>

  <button uni-icon-button
          color="secondary">
    <uni-icon icon="mdi-home"></uni-icon>
  </button>

  <button uni-icon-button
          color="success">
    <uni-icon icon="mdi-home"></uni-icon>
  </button>

  <button uni-icon-button
          color="warning">
    <uni-icon icon="mdi-home"></uni-icon>
  </button>

  <button uni-icon-button
          color="danger">
    <uni-icon icon="mdi-home"></uni-icon>
  </button>
</div>
