<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <ng-template uniTabBody>
      <app-code-example title="Button Types"
                        [html]="example">
        <h4>Button</h4>

        <button uni-button
                *ngFor="let color of colors"
                [color]="color">
          {{ color }}
        </button>

        <button uni-button>
          default
        </button>

        <button uni-button
                disabled>
          disabled
        </button>

        <h4>Icon Button</h4>

        <button uni-icon-button
                *ngFor="let color of colors"
                [color]="color">
          <uni-icon icon="mdi-home"></uni-icon>
        </button>

        <button uni-icon-button>
          <uni-icon icon="mdi-home"></uni-icon>
        </button>

        <button uni-icon-button
                disabled>
          <uni-icon icon="mdi-home"></uni-icon>
        </button>

        <h4>Fab</h4>

        <button uni-fab
                *ngFor="let color of colors"
                [color]="color">
          <uni-icon icon="mdi-home"></uni-icon>
        </button>

        <button uni-fab>
          <uni-icon icon="mdi-home"></uni-icon>
        </button>

        <button uni-fab
                disabled>
          <uni-icon icon="mdi-home"></uni-icon>
        </button>

        <h4>Mini Fab</h4>

        <button uni-mini-fab
                *ngFor="let color of colors"
                [color]="color">
          <uni-icon icon="mdi-home"></uni-icon>
        </button>

        <button uni-mini-fab>
          <uni-icon icon="mdi-home"></uni-icon>
        </button>

        <button uni-mini-fab
                disabled>
          <uni-icon icon="mdi-home"></uni-icon>
        </button>

        <h4>Link</h4>

        <button uni-link-button
                *ngFor="let color of colors"
                [color]="color">
          {{ color }}
        </button>

        <button uni-link-button>
          default
        </button>

        <button uni-link-button
                disabled>
          disabled
        </button>
      </app-code-example>
    </ng-template>
  </uni-tab>

  <uni-tab label="API">
    <ng-template uniTabBody>
      <app-doc-viewer component="button"></app-doc-viewer>
    </ng-template>
  </uni-tab>
</uni-tab-group>
