<uni-card>
  <uni-card-header>
    <uni-card-title>Button</uni-card-title>
    <uni-card-subtitle>Solid</uni-card-subtitle>
  </uni-card-header>

  <uni-card-content>
    <uni-tab-group>
      <uni-tab>
        <button uni-button
                color="primary">
          Primary
        </button>
      </uni-tab>

      <uni-tab>
        <button uni-button
                color="secondary">
          Secondary
        </button>
      </uni-tab>

      <uni-tab>
        <button uni-button
                color="success">
          Success
        </button>
      </uni-tab>

      <uni-tab>
        <button uni-button
                color="warning">
          Warning
        </button>
      </uni-tab>

      <uni-tab>
        <button uni-button
                color="danger">
          Danger
        </button>
      </uni-tab>
    </uni-tab-group>
  </uni-card-content>
</uni-card>

<uni-card>
  <uni-card-header>
    <uni-card-title>Button</uni-card-title>
    <uni-card-subtitle>Outline</uni-card-subtitle>
  </uni-card-header>

  <uni-card-content>
    <button uni-outline-button
            color="primary">
      Primary
    </button>

    <button uni-outline-button
            color="secondary">
      Secondary
    </button>

    <button uni-outline-button
            color="success">
      Success
    </button>

    <button uni-outline-button
            color="warning">
      Warning
    </button>

    <button uni-outline-button
            color="danger">
      Danger
    </button>
  </uni-card-content>
</uni-card>

<uni-card>
  <uni-card-header>
    <uni-card-title>Button</uni-card-title>
    <uni-card-subtitle>Icon</uni-card-subtitle>
  </uni-card-header>

  <uni-card-content>
    <button uni-icon-button
            color="primary">
      <uni-icon icon="mdi-home"></uni-icon>
    </button>

    <button uni-icon-button
            color="secondary">
      <uni-icon icon="mdi-home"></uni-icon>
    </button>

    <button uni-icon-button
            color="success">
      <uni-icon icon="mdi-home"></uni-icon>
    </button>

    <button uni-icon-button
            color="warning">
      <uni-icon icon="mdi-home"></uni-icon>
    </button>

    <button uni-icon-button
            color="danger">
      <uni-icon icon="mdi-home"></uni-icon>
    </button>
  </uni-card-content>
</uni-card>

