<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <ng-template uniTabBody>
      <app-code-example title="Input"
                        [html]="example">
        <uni-form-field>
          <uni-label>test label</uni-label>

          <input
            uniInput
            placeholder="test placeholder"
            spellcheck="false"
            required
            [(ngModel)]="value"
            [disabled]="disabled"
          />

          <uni-hint>max 5 characters</uni-hint>
          <uni-error *ngIf="value?.length > 5">too many characters!</uni-error>
        </uni-form-field>

        <uni-form-field>
          <uni-label>test label</uni-label>

          <textarea
            uniInput
            placeholder="test placeholder"
            spellcheck="false"
            required
            [(ngModel)]="value"
            [disabled]="disabled"
          ></textarea>

          <uni-hint>max 5 characters</uni-hint>
          <uni-error *ngIf="value?.length > 5">too many characters!</uni-error>
        </uni-form-field>

        <div>{{ value }}</div>

        <uni-slide-toggle [(ngModel)]="disabled">
          {{ disabled ? 'Enable' : 'Disable' }}
        </uni-slide-toggle>
      </app-code-example>
    </ng-template>
  </uni-tab>

  <uni-tab label="API">
    <ng-template uniTabBody>
      <app-doc-viewer component="input"></app-doc-viewer>
    </ng-template>
  </uni-tab>
</uni-tab-group>
