<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <ng-template uniTabBody>
      <app-code-example
        title="Input"
        [html]="example"
        [formGroup]="form"
      >
        <uni-form-field>
          <uni-label>Username</uni-label>
          <button
            uni-icon-button
            uniPrefix
          >
            <uni-icon icon="mdi-account"></uni-icon>
          </button>

          <input
            uniInput
            placeholder="Username..."
            spellcheck="false"
            formControlName="username"
            maxlength="20"
            required
          />

          <uni-hint>max 20 characters</uni-hint>
          <uni-error *ngIf="form.get('username').dirty && !form.value?.username">username is required!</uni-error>
        </uni-form-field>

        <uni-form-field>
          <uni-label>Password</uni-label>

          <input
            uniInput
            [type]="form.value?.showPassword ? 'text' : 'password'"
            placeholder="Password..."
            spellcheck="false"
            formControlName="password"
            maxlength="50"
            required
          />

          <button
            uni-icon-button
            uniSuffix
            (click)="form.get('showPassword').setValue(!form.value?.showPassword)"
          >
            <uni-icon [icon]="form.value?.showPassword ? 'mdi-eye' : 'mdi-eye-off'"></uni-icon>
          </button>

          <uni-hint>max 50 characters</uni-hint>
          <uni-error *ngIf="form.get('password').dirty && !form.value?.password">password is required and this is a large error!</uni-error>
          <uni-error *ngIf="form.get('password').dirty && !form.value?.password">another error</uni-error>
        </uni-form-field>

        <uni-form-field>
          <uni-label>Bio</uni-label>

          <textarea
            uniInput
            placeholder="Bio..."
            spellcheck="false"
            formControlName="bio"
            maxlength="500"
            autoResize
          ></textarea>

          <uni-hint>{{ form.value?.bio.length }} / 500 characters</uni-hint>
        </uni-form-field>
      </app-code-example>
    </ng-template>
  </uni-tab>

  <uni-tab label="API">
    <ng-template uniTabBody>
      <app-doc-viewer component="input"></app-doc-viewer>
    </ng-template>
  </uni-tab>
</uni-tab-group>
