/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay';

@include cdk-overlay();

body, html {
  margin: 0;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

uni-tab {
  padding: 10px 20px;
  height: calc(100% - 110px);
  overflow-y: auto;
}

uni-card {
  margin: 10px;
}

uni-form-field {
  margin-right: 10px;
}
