<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <uni-card>
      <uni-card-header>
        <uni-card-title>Select</uni-card-title>
      </uni-card-header>

      <uni-card-content>
        <uni-form-field color="secondary">
          <uni-select placeholder="PLACEHOLDER..."
                      [(ngModel)]="value">
            <uni-option>option 1</uni-option>
            <uni-option>option 2</uni-option>
            <uni-option>option 3</uni-option>
          </uni-select>
        </uni-form-field>

        value: {{ value }}
      </uni-card-content>
    </uni-card>
  </uni-tab>
</uni-tab-group>
