<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <ng-template uniTabBody>
      <app-code-example title="Select">
        <uni-form-field>
          <uni-label>Test Label</uni-label>

          <uni-select placeholder="PLACEHOLDER..."
                      [(ngModel)]="value"
                      [disabled]="disabled">
            <uni-option>option 1</uni-option>
            <uni-option>option 2</uni-option>
            <uni-option>option 3</uni-option>
          </uni-select>

          <uni-hint>testing my hint</uni-hint>
        </uni-form-field>

        <div>value: {{ value }}</div>

        <uni-slide-toggle [(ngModel)]="disabled">
          {{ disabled ? 'Enable' : 'Disable' }}
        </uni-slide-toggle>
      </app-code-example>
    </ng-template>
  </uni-tab>

  <uni-tab label="API">
    <ng-template uniTabBody>
      <app-doc-viewer component="select"></app-doc-viewer>
    </ng-template>
  </uni-tab>
</uni-tab-group>
