uni-sidenav-container {
  height: 100%;
}

.sidenav-list {
  .sidenav-item-group, .sidenav-item {
    margin: 10px 20px;
    cursor: pointer;
    outline: none;
  }

  .sidenav-item-group-title {
    opacity: 0.7;
  }

  .sidenav-item {
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
    }
  }
}
