<uni-sidenav-container (backdropClicked)="backdropClicked.emit()">
  <uni-sidenav position="start"
               mode="side"
               color="secondary"
               [open]="open"
               (closed)="backdropClicked.emit()">
    <div class="sidenav--list">
      <ng-container *ngFor="let item of items">
        <ng-container *ngTemplateOutlet="(item.routes ? groupTpl : itemTpl); context: { $implicit: item }">
        </ng-container>
      </ng-container>
    </div>
  </uni-sidenav>
  <uni-sidenav-content>
    <ng-content></ng-content>
  </uni-sidenav-content>
</uni-sidenav-container>

<ng-template #groupTpl let-item>
  <div class="sidenav--list-group"
       [class.expanded]="item.expanded">
    <div class="sidenav--list-group-text"
         (click)="item.expanded = !item.expanded">
      <uni-icon class="item-icon" [icon]="item.icon"></uni-icon>
      <div class="text">{{ item.text }}</div>
      <uni-icon class="expand-icon" icon="mdi-chevron-right"></uni-icon>
    </div>

    <div *ngIf="item.expanded" class="sidenav--list-group-items">
      <ng-container *ngFor="let subItem of item.routes">
        <ng-container *ngTemplateOutlet="itemTpl; context: { $implicit: subItem }">
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #itemTpl let-item>
  <div class="sidenav--list-item"
       [routerLink]="item.route"
       routerLinkActive="active">
    <div class="text">{{ item.text }}</div>
  </div>
</ng-template>
