<uni-sidenav-container (backdropClicked)="backdropClicked.emit()">
  <uni-sidenav position="start"
               mode="over"
               color="secondary"
               [open]="open">
    <div class="sidenav-list">
      <div class="sidenav-item"
           *ngFor="let item of items"
           [routerLink]="item.route"
           routerLinkActive="active"
           (click)="backdropClicked.emit()">
        {{ item.text }}
      </div>
    </div>
  </uni-sidenav>
  <uni-sidenav-content>
    <ng-content></ng-content>
  </uni-sidenav-content>
</uni-sidenav-container>
