<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <ng-template uniTabBody>
      <app-code-example title="Dialog">
        <button uni-button
                color="primary"
                (click)="onClick()">
          Open
        </button>

        <uni-slide-toggle [(ngModel)]="draggable">
          {{ draggable ? 'No Drag' : 'Drag' }}
        </uni-slide-toggle>
      </app-code-example>
    </ng-template>
  </uni-tab>

  <uni-tab label="API">
    <ng-template uniTabBody>
      <app-doc-viewer component="dialog"></app-doc-viewer>
    </ng-template>
  </uni-tab>
</uni-tab-group>
