:host {
  display: flex;

  uni-card {
    background-color: var(--dark-a50);
    width: 100%;

    uni-card-title {
      display: flex;

      .code-example--title {
        flex: 1 1 auto;
      }
    }
  }
}
