<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <ng-template uniTabBody>
      <app-code-example title="Slide Toggle">
        <uni-slide-toggle [(ngModel)]="value" color="danger">
          {{ value ? 'Enable' : 'Disable' }}
        </uni-slide-toggle>

        <uni-slide-toggle [(ngModel)]="value" disabled>
          {{ value ? 'Enable' : 'Disable' }}
        </uni-slide-toggle>
      </app-code-example>
    </ng-template>
  </uni-tab>

  <uni-tab label="API">
    <ng-template uniTabBody>
      <app-doc-viewer component="slide-toggle"></app-doc-viewer>
    </ng-template>
  </uni-tab>
</uni-tab-group>
