<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <uni-card>
      <uni-card-header>
        <uni-card-title>Tooltip</uni-card-title>
      </uni-card-header>

      <uni-card-content>
        <uni-form-field color="primary">
          <uni-select placeholder="testing123">
            <uni-option>test option</uni-option>
            <uni-option>test option 2</uni-option>
          </uni-select>
        </uni-form-field>

        <button uni-button
                color="primary">
          Tooltip
        </button>
      </uni-card-content>
    </uni-card>
  </uni-tab>
</uni-tab-group>
