<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <ng-template uniTabBody>
      <app-code-example title="Json Tree">
        <uni-json-tree [json]="object" (propertyValueClick)="onPropertyClick($event)"></uni-json-tree>

        <uni-form-field>
          <uni-label>JSON</uni-label>
          <textarea uniInput autoResize spellcheck="false" [(ngModel)]="json"></textarea>
        </uni-form-field>
      </app-code-example>
    </ng-template>
  </uni-tab>

  <uni-tab label="API">
    <ng-template uniTabBody>
      <app-doc-viewer component="json-tree"></app-doc-viewer>
    </ng-template>
  </uni-tab>
</uni-tab-group>
