<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <ng-template uniTabBody>
      <app-code-example title="Tab"
                        [html]="example">
        <uni-tab-group [(active)]="active">
          <uni-tab
            *ngFor="let tab of tabs"
            [label]="tab"
          >
            <ng-template uniTabBody>
              {{ tab }}
            </ng-template>
          </uni-tab>
        </uni-tab-group>

        <button uni-button (click)="add()">
          Add Tab
        </button>
      </app-code-example>
    </ng-template>
  </uni-tab>

  <uni-tab label="API">
    <ng-template uniTabBody>
      <app-doc-viewer component="tab"></app-doc-viewer>
    </ng-template>
  </uni-tab>
</uni-tab-group>
