<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <ng-template uniTabBody>
      <app-code-example title="Tab"
                        [html]="example">
        <uni-tab-group [(active)]="active">
          <uni-tab label="First">
            <ng-template uniTabBody>
              {{ active }}
            </ng-template>
          </uni-tab>

          <uni-tab label="Second">
            <ng-template uniTabBody>
              {{ active }}
            </ng-template>
          </uni-tab>
        </uni-tab-group>
      </app-code-example>
    </ng-template>
  </uni-tab>

  <uni-tab label="API">
    <ng-template uniTabBody>
      <app-doc-viewer component="tab"></app-doc-viewer>
    </ng-template>
  </uni-tab>
</uni-tab-group>
