<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <ng-template uniTabBody>
      <app-code-example title="Toolbar"
                        [html]="example">
        <uni-toolbar
          *ngFor="let color of colors"
          [color]="color"
        >
          <span class="spacer">{{ color }}</span>
          <span>Right</span>
        </uni-toolbar>

        <uni-toolbar>
          <span class="spacer">default</span>
          <span>Right</span>
        </uni-toolbar>
      </app-code-example>
    </ng-template>
  </uni-tab>

  <uni-tab label="API">
    <ng-template uniTabBody>
      <app-doc-viewer component="toolbar"></app-doc-viewer>
    </ng-template>
  </uni-tab>
</uni-tab-group>
