<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <ng-template uniTabBody>
      <app-code-example title="Progress Spinner"
                        [html]="progressSpinnerExample">
        <uni-progress-spinner
          *ngFor="let color of colors"
          value="50"
          [mode]="mode"
          [color]="color"
        ></uni-progress-spinner>
      </app-code-example>

      <app-code-example title="Progress Bar"
                        [html]="progressBarExample">
        <uni-progress-bar
          *ngFor="let color of colors"
          value="50"
          [mode]="mode"
          [color]="color"
        ></uni-progress-bar>
      </app-code-example>
    </ng-template>
  </uni-tab>

  <uni-tab label="API">
    <ng-template uniTabBody>
      <app-doc-viewer component="progress"></app-doc-viewer>
    </ng-template>
  </uni-tab>
</uni-tab-group>
