<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <ng-template uniTabBody>
      <app-code-example title="Progress"
                        [html]="progressSpinnerExample">
        <uni-progress-spinner
          *ngFor="let color of colors"
          [value]="value"
          [mode]="mode"
          [color]="color"
          [clear]="clear"
        ></uni-progress-spinner>

        <uni-progress-bar
          *ngFor="let color of colors"
          [value]="value"
          [mode]="mode"
          [color]="color"
          [clear]="clear"
        ></uni-progress-bar>

        <uni-form-field>
          <uni-select [(ngModel)]="mode">
            <uni-option [value]="UniProgressMode.Indeterminate">Indeterminate</uni-option>
            <uni-option [value]="UniProgressMode.Determinate">Determinate</uni-option>
          </uni-select>
        </uni-form-field>

        <uni-slide-toggle [(ngModel)]="clear">
          {{ clear ? 'Solid' : 'Clear' }}
        </uni-slide-toggle>
      </app-code-example>
    </ng-template>
  </uni-tab>

  <uni-tab label="API">
    <ng-template uniTabBody>
      <app-doc-viewer component="progress"></app-doc-viewer>
    </ng-template>
  </uni-tab>
</uni-tab-group>
