<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <ng-template uniTabBody>
      <app-code-example title="Popover">
        <uni-form-field color="primary">
          <uni-select placeholder="Position..."
                      [(ngModel)]="position">
            <uni-option *ngFor="let pos of positions">
              {{ pos }}
            </uni-option>
          </uni-select>
        </uni-form-field>

        <uni-form-field color="primary">
          <uni-select placeholder="Trigger..."
                      [(ngModel)]="trigger">
            <uni-option *ngFor="let trig of triggers">
              {{ trig }}
            </uni-option>
          </uni-select>
        </uni-form-field>

        <button uni-button
                uniPopover="testing extended length popover content"
                [uniPopoverPosition]="position"
                [uniPopoverDisabled]="disabled"
                [uniPopoverTrigger]="trigger"
                color="primary">
          Popover
        </button>

        <uni-slide-toggle [(ngModel)]="disabled">
          {{ disabled ? 'Enable' : 'Disable' }}
        </uni-slide-toggle>
      </app-code-example>
    </ng-template>
  </uni-tab>

  <uni-tab label="API">
    <ng-template uniTabBody>
      <app-doc-viewer component="popover"></app-doc-viewer>
    </ng-template>
  </uni-tab>
</uni-tab-group>
