<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <uni-card>
      <uni-card-header>
        <uni-card-title>Popover</uni-card-title>
      </uni-card-header>

      <uni-card-content>
        <uni-form-field color="primary">
          <uni-select placeholder="Position..."
                      [(ngModel)]="position">
            <uni-option *ngFor="let pos of positions">
              {{ pos }}
            </uni-option>
          </uni-select>
        </uni-form-field>

        <button uni-button
                uniPopover="testing extended length popover content"
                [uniPopoverPosition]="position"
                color="primary">
          Popover
        </button>
      </uni-card-content>
    </uni-card>
  </uni-tab>
</uni-tab-group>
