<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <uni-card *ngFor="let color of colors"
              [color]="color"
              [hover]="true">
      <uni-card-header>
        <uni-card-title>{{ color }} Card</uni-card-title>
      </uni-card-header>

      <uni-card-content>
      </uni-card-content>

      <uni-card-footer>
        <button uni-outline-button
                [color]="color">
          Action Button
        </button>
      </uni-card-footer>
    </uni-card>
  </uni-tab>
</uni-tab-group>
