<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <ng-template uniTabBody>
      <app-code-example title="Card" [html]="example">
        <uni-card>
          <uni-card-header>
            <uni-card-title>Title</uni-card-title>
            <uni-card-subtitle>my subtitle</uni-card-subtitle>
          </uni-card-header>

          <uni-card-content>
            {{ text }}
          </uni-card-content>

          <uni-card-footer>
            <button uni-button
                    color="primary">
              <uni-icon icon="mdi-content-save"></uni-icon> Save
            </button>

            <button uni-button>
              Cancel
            </button>
          </uni-card-footer>
        </uni-card>
      </app-code-example>
    </ng-template>
  </uni-tab>

  <uni-tab label="API">
    <ng-template uniTabBody>
      <app-doc-viewer component="card"></app-doc-viewer>
    </ng-template>
  </uni-tab>
</uni-tab-group>
