<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <ng-template uniTabBody>
      <app-code-example title="Toast">
        <uni-form-field color="primary">
          <uni-select placeholder="Type..."
                      [(ngModel)]="type">
            <uni-option *ngFor="let toastType of types">
              {{ toastType }}
            </uni-option>
          </uni-select>
        </uni-form-field>

        <uni-form-field color="primary">
          <uni-select placeholder="Position..."
                      [(ngModel)]="position">
            <uni-option *ngFor="let pos of positions">
              {{ pos }}
            </uni-option>
          </uni-select>
        </uni-form-field>

        <button uni-button
                color="primary"
                (click)="open()">
          Toast
        </button>
      </app-code-example>
    </ng-template>
  </uni-tab>

  <uni-tab label="API">
    <ng-template uniTabBody>
      <app-doc-viewer component="toast"></app-doc-viewer>
    </ng-template>
  </uni-tab>
</uni-tab-group>
