<uni-tab-group color="primary">
  <uni-tab label="Examples">
    <ng-template uniTabBody>
      <app-code-example title="Scroll">
        <uni-scroll [mode]="mode" [scrollStyle]="style">
          <div class="text-content">
            {{ text }}
          </div>
        </uni-scroll>

        <uni-form-field>
          <uni-label>Mode</uni-label>
          <uni-select [(ngModel)]="mode">
            <uni-option [value]="UniScrollMode.Side">Side</uni-option>
            <uni-option [value]="UniScrollMode.Over">Over</uni-option>
          </uni-select>
        </uni-form-field>

        <uni-form-field>
          <uni-label>Scroll Style</uni-label>
          <uni-select [(ngModel)]="style">
            <uni-option value="smooth">Smooth</uni-option>
            <uni-option value="auto">Auto</uni-option>
          </uni-select>
        </uni-form-field>
      </app-code-example>
    </ng-template>
  </uni-tab>

  <uni-tab label="API">
    <ng-template uniTabBody>
      <app-doc-viewer component="scroll"></app-doc-viewer>
    </ng-template>
  </uni-tab>
</uni-tab-group>
