.uni-toolbar-title {
  margin: auto 10px;
  cursor: pointer;
  font-weight: 600;
}

.uni-toolbar-spacer {
  flex: 1 1 auto;
}

.uni-documentation-fab {
  position: fixed;
  bottom: 10px;
  right: 20px;
}

h3 {
  margin: 0;
}
