<uni-toolbar color="primary">
  <button uni-icon-button
          (click)="toggle.emit()">
    <uni-icon icon="mdi-menu"></uni-icon>
  </button>
  <div class="uni-toolbar-title"
       title=""
       uniTooltip="View Source"
       uniTooltipPosition="bottom"
       (click)="component()">
    {{ toolbarService.$title | async }}
  </div>
  <div class="uni-toolbar-spacer"></div>
  <button uni-icon-button
          [uniPopover]="info"
          [uniPopoverOrigin]="icon"
          uniPopoverPosition="bottom left">
    <uni-icon #uniIcon
              icon="mdi-information-outline">
    </uni-icon>
  </button>
  <button uni-icon-button
          (click)="github()">
    <uni-icon icon="mdi-github-circle"></uni-icon>
  </button>
</uni-toolbar>

<button uni-fab
        *ngIf="toolbarService.component"
        class="uni-documentation-fab"
        color="primary"
        uniTooltip="View ReadMe"
        uniTooltipPosition="left"
        (click)="documentation()">
  <uni-icon icon="mdi-file-document"></uni-icon>
</button>

<ng-template #info>
  <div class="info">
    <div class="labels">
      <div class="label">Author</div>
      <div class="label">License</div>
      <div class="label">Version</div>
    </div>
    <div class="values">
      <div class="value">Alexander Acebo</div>
      <div class="value">MIT</div>
      <div class="value">0.0.1</div>
    </div>
  </div>
</ng-template>
