<uni-toolbar color="primary">
  <button uni-icon-button
          (click)="toggle.emit()">
    <uni-icon icon="mdi-menu"></uni-icon>
  </button>
  <div class="uni-toolbar-title"
       title=""
       uniTooltip="View Source"
       uniTooltipPosition="bottom"
       (click)="component()">
    {{ toolbarService.$title | async }}
  </div>
  <div class="uni-toolbar-spacer"></div>
  <button uni-icon-button>
    <uni-icon [uniPopover]="info"
              uniPopoverPosition="bottom left"
              icon="mdi-information-outline">
    </uni-icon>
  </button>
  <button uni-icon-button
          (click)="github()">
    <uni-icon icon="mdi-github-circle"></uni-icon>
  </button>
</uni-toolbar>

<button uni-fab
        *ngIf="toolbarService.component"
        class="uni-documentation-fab"
        color="primary"
        uniTooltip="View ReadMe"
        uniTooltipPosition="left"
        (click)="documentation()">
  <uni-icon icon="mdi-file-document"></uni-icon>
</button>

<ng-template #info>
  <h3>Info</h3>
</ng-template>
